@charset "UTF-8";

@media screen and (max-width: 768px) {   
    div.principal {
        padding: 10px;
        padding-top: 200px;
        margin: 0px;
    }

    div.let {
        text-align: center;
    }

    div.meio {
         padding: 15px;
    }

    div.mensagem {
        display: none;
    }

    div.mensagem2 {
        display: block;
        width: auto;
        padding: 20px;
        font-size: 1em;
        font-family: var(--fonte-padrao);
        line-height: 2em;
    }
}
